#lounge {
  float: left;
}
.lng {
  font-size:20px;
  text-align: center;
}
button, a {
  color: white;
  font-size: 20px;
}
#coffee {
  float:right;
}
#mg {
  text-align: center;
  font-family: fantasy;
  color: brown;
  margin-top:80px;
}
