#lounge {
  float: left;
}
.lng {
  font-size:20px;
  text-align: center;
}
button, a {
  color: white;
  font-size: 20px;
}
#mg {
  text-align: center;
  font-family: fantasy;
  color: brown;
  margin-top:80px;
}
img {
  padding: 4px;
}
h1 {
  text-align: center;
  font-family: serif;
  font-size: 50px;
}
h2 {
  text-align: center;
  font-family: fantasy;
  color: brown;
}
.pic {
  text-align: center;
  font-size: 18px;
  font-style: italic;
}
body {
  border-bottom: 20px solid #F9EBEA
  background-color: #F9EBEA;
}
img {
 padding: 4px;
}
h1 {
 text-align: center;
 font-family: serif;
 font-size: 50px;
 margin-bottom: 50px;
}
h2 {
 text-align: center;
 font-family: fantasy;
 color: brown;
}
.pic {
 text-align: center;
 font-size: 18px;
 font-style: italic;
}
body {
 border-bottom: 20px solid #F9EBEA
;
 background-color: #F9EBEA
;
}
#lounge {
 float: left;
}
.lng {
 font-size:20px;
 text-align: center;
}
#coffee {
 float:right;
}
#mg {
 text-align: center;
 font-family: fantasy;
 color: brown;
 margin-top:80px;
}
.cap {
 text-align: center;
 font-style: italic;
 font-size: 15px;
}
form {
  margin-left: 30%;
}
