a {
  color: white;
}
body {
 background-color: #F9EBEA;
}
#book{
  margin-left: 35%;
  margin-right: 30%;
  margin-bottom: 10%;
  background-color: #F9EBEA;
}
#h1 {
  margin-left: 0%;
  margin-right: 30%;
}
#t {
  margin-top: 5%;
}
#contact {
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10%;
  background-color: #F9EBEA;
}
#cont {
  background-image: url("phone.jpeg");
  background-size: contain;
}
#about {
  margin-top: 10%;
  margin-left: 35%;
  margin-right: 30%;
  margin-bottom: 10%;
  background-color: #F9EBEA;
}
#ab {
  background-image: url("hall.jpg");
}
#kd {
  background-image: url("kids.jpeg");
}
#kid {
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 10%;
  background-color: #F9EBEA;
}
